body{
  background:black;
  background-attachment:fixed;
}
#container{
       background:linear-gradient(white 0%, silver 90%);
       top:300px;
       left:50%;
       width:900px;
       height:900px;
      }
