body{
  background:black;
  background-attachment:fixed;
}
td{
  align-self:auto;
}
#container{
       position:absolute;
       display:block;
       margin:auto;
       width:auto;
       height:auto;
       top:0;
       bottom:0;
       right:0;
       left:0;
      }
.red{
  background:red;
  width:50px;
  height:50px;
  position:relative;
}
.green{
  background:green;
  width:50px;
  height:50px;
  position:relative;
}
.yellow{
  background:linear-gradient(white 0%, green 40%, red 90%);
  height:50px;
  width:100px;
}
.white{
  background:white;
  width:50px;
  height:50px;
  position:relative;
}
