body{
  background:black;
  background-attachment:fixed;
}
#container{
       background:linear-gradient(white 0%, silver 90%);
       top:300px;
       margin:auto;
       width:500px;
       height:500px;
      }
