 html{
        height:100%;
        
      }
      body{
        background:linear-gradient(to bottom,#000000 0%,#1a1a1a 25%, #000000 50%, #1a1a1a 75%, #000000 100%);
        z-index:1;
        overflow-x:hidden;
      }
      .cursor{
       cursor: help;
      }
      #paragraph{
        color:white;
        font-size:16px;
        font-family:Fantasy;
        max-width:50%;
      }
      #headingOne{
        color:white;
        font-family:Impact;
      }
      #zindex{
       z-index:2;
      }
      hr{
        width:50%;
      }
      span{
        color:white;
      }
      .custom{
       animation-fill-mode: none !important;
      }
      .animatedText {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:auto;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.animatedText li {
    position: absolute;
    list-style: none;
    display: block;
    color:rgba(255,255,255,.7);
    font-size:30px;
    font-family:Times;
    background-color: rgba(255, 255, 255, 0);
    -webkit-animation: aniText 15s infinite;
    animation: aniText 15s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.animatedText li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 15%;
}
.animatedText li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 30%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

.animatedText li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 45%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.animatedText li:nth-child(4){
 width:100px;
 height:100px;
 left:60%;
 -webkit-animation-delay:3s;
 animation-delay:3s;
 -webkit-animation-duration:8s;
 animation-duration:8s;
}
.animatedText li:nth-child(5){
 -webkit-animation-delay:2s;
 animation-delay:2s;
 -webkit-animation-duration:22s;
 animation-duration:22s;
 left:75%;
}
.animatedText li:nth-child(6){
 -webkit-animation-delay:1s;
 animation-delay:1s;
 -webkit-animation-duration:18s;
 animation-duration:18s;
 left:90%;
}

@-webkit-keyframes aniText {
    0% {
        -webkit-transform: translateY(1080px);
        transform: translateY(1080px);
    }
    100% {
        -webkit-transform: translateY(-100px)rotate(-840deg);
        transform: translateY(-100px)rotate(-840deg);
    }
}

@keyframes aniText {
    0% {
         -webkit-transform: translateY(1080px);
        transform: translateY(1080px);
    }
    100% {
        -webkit-transform: translateY(-100px)rotate(-840deg);
        transform: translateY(-100px)rotate(-840deg);
    }
}
