 html{
        height:100%;
      }
      body{
       background-color:black;
        /*background:linear-gradient(to bottom,#000000 0%,#1a1a1a 25%, #000000 50%, #1a1a1a 75%, #000000 100%);*/
        z-index:1;
        
        overflow-x:hidden;
      }
      #paragraph{
        color:white;
        font-size:16px;
        font-family:Fantasy;
        max-width:50%;
      }
      #divEducation{
        
      }
      #headingOne{
        color:white;
        font-family:Impact;
      }
      #divInner{
        
      }
      hr{
        width:50%;
      }
      span{
        color:white;
      }
      .animatedText {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.animatedText li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.45);
    -webkit-animation: square 20s infinite;
    animation: aniText 20s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.animatedText li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
}
.animatedText li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.animatedText li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}


@-webkit-keyframes aniText {
    0% {
        -webkit-transform: translateY(1080px);
        transform: translateY(1080px);
    }
    100% {
        -webkit-transform: translateY(-100px) rotate(420deg);
        transform: translateY(-100px) rotate(420deg);
    }
}

@keyframes aniText {
    0% {
         -webkit-transform: translateY(1080px);
        transform: translateY(1080px);
    }
    100% {
        -webkit-transform: translateY(-100px) rotate(420deg);
        transform: translateY(-100px) rotate(420deg);
    }
}
