 html{
        height:100%;
      }
      body{
        background:linear-gradient(to bottom,#000000 0%,#1a1a1a 25%, #000000 50%, #1a1a1a 75%, #000000 100%);
        z-index:1;
        
        overflow-x:hidden;
      }
      #paragraph{
        color:white;
        font-size:16px;
        font-family:Fantasy;
        max-width:50%;
      }
      #divEducation{
        
      }
      #headingOne{
        color:white;
        font-family:Impact;
      }
      #divInner{
        
      }
      hr{
        width:50%;
      }
      span{
        color:white;
      }
      .animatedText{
       width:100%;
       height:100%;
       top:0;
       left:0;
       position:absolute;
       z-index:0;
       color:white;
       bottom:-100px;
       background-color:rgba(255,255,255,0);
       transform: translateZ(0);
       animation: aniText 10s infinite;
      }
      .animatedText li{
       position:absolute;
       z-index:0;
       display:inline-block;
       list-style:none;
       /*background-color:rgba(255,255,255,.7);*/
       font-size:20px;
       font-family:Impact;
      }
      .animatedText li:nth child(1){
       width:80px;
       height:80px;
       left:40%;
      }
      /*.animatedText li:nth child(2){*/
      /* width:100px;*/
      /* height:100px;*/
      /* left:50%;*/
      /* animation-delay:2s;*/
      /*}*/
      /*.animatedText li:nth child(3){*/
      /* width:100px;*/
      /* height:100px;*/
      /* left:100%;*/
      /* animation-delay:5s;*/
      /* animation-duration:20s;*/
      /*}*/
      @keyframes aniText{
       0%{
        transform:translateY(0px);
       }
       /*50%{*/
       /* transform:translateY(540px)rotate(420deg);*/
       /*}*/
       100%{
        transform:translateY(-1080px)rotate(840deg);
       }
      }
