 html{
        height:100%;
      }
      body{
        background:linear-gradient(to bottom,#000000 0%,#1a1a1a 25%, #000000 50%, #1a1a1a 75%, #000000 100%);
      }
      #paragraph{
        color:white;
        font-size:16px;
        font-family:Fantasy;
        max-width:50%;
      }
      #divEducation{
        
      }
      #headingOne{
        color:white;
        font-family:Impact;
      }
      #divInner{
        
      }
      hr{
        width:50%;
      }
      span{
        color:white;
      }
