P{
    text-align:left;
    width:600px;
    font-size:12px;
}
body{
    background:linear-gradient(to bottom,silver,white);
    font-family: Impact;
}
div.outer{
    
    /*display:flex;*/
    /*justify-content:center;
    align-items:center;*/
}


