html {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
}
P{
  font-size:12px;
}
body{
  background:linear-gradient(to left,silver,white);
  font-family: Impact;
  margin:10%;
  position:absolute;
  width:1024px;
  height:768px;
}

