P{
    font-size:12px;
}
div.outer{
    /*display:flex;*/
    /*justify-content:center;
    align-items:center;*/
}
body{
    background:linear-gradient(to bottom,silver,white);
    font-family: Impact;
    position:relative;
    width:1024px;
    height:768px;
}

